{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Oh Dear plugin for Craft CMS 3.x
 *
 * Oh Dear Settings.twig
 *
 * @author    webhub GmbH
 * @copyright Copyright (c) 2019 webhub GmbH
 * @link      https://webhub.de
 * @package   OhDear
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

<h2>{{ 'General'|t('ohdear') }}</h2>

{{ forms.autosuggestField({
    label: "Oh Dear API Token"|t('ohdear'),
    id: 'api-token',
    name: 'apiToken',
    value: settings['apiToken'],
    suggestEnvVars: true,
    instructions: 'Please enter your Oh Dear API token. You can create a token on the {link} page.'|t('ohdear', {link: '<a href="https://ohdear.app/user/api-tokens" rel="noopener" target="_blank">Oh Dear API Tokens</a>'}),
    errors: settings.getErrors('apiToken')
}) }}

{{ forms.autosuggestField({
    label: "Oh Dear Site ID"|t('ohdear'),
    id: 'selected-site-id',
    name: 'selectedSiteId',
    value: settings['selectedSiteId'],
    suggestEnvVars: true,
    instructions: 'Please enter the site ID that is associated to this Craft site. You can find the site ID on the settings page of one of your {link}.'|t('ohdear', {link: '<a href="https://ohdear.app/sites" rel="noopener" target="_blank">Oh Dear Sites</a>'}),
    errors: settings.getErrors('selectedSiteId'),
}) }}

<hr/>

<h2>{{ 'Application health'|t('ohdear') }}</h2>

{% if settings['apiToken'] and settings['selectedSiteId'] %}

    <p>{{ 'This check works by letting your server respond with health check results as JSON. Read more in the docs to learn about setting up built-in and even custom Health Checks.'|t('ohdear') }} <a href="https://github.com/webhubworks/craft-ohdear/wiki/Application-Health-Checks" rel="noopener" target="_blank">Getting Started with Application Health Checks</a></p>

    {{ forms.textField({
        label: "Health Report URL"|t('ohdear') ~ " (" ~ "readonly"|t('ohdear') ~ ")",
        placeholder: 'Please provide a valid API token and site ID at first.'|t('ohdear'),
        value: healthReportUrl,
        readonly: true,
        instructions: 'The URL where Oh Dear can get the results of your health checks. Paste this URL into Oh Dear\'s {link}.'|t('ohdear', {link: '<a href="https://ohdear.app/sites/'~settings['selectedSiteId']~'/settings/application-health" rel="noopener" target="_blank">Application Health Settings</a>'})
    }) }}

    {{ forms.autosuggestField({
        label: "Health Check Secret"|t('ohdear'),
        id: 'health-check-secret',
        name: 'healthCheckSecret',
        placeholder: 'Paste the secret from Oh Dear here.'|t('ohdear'),
        value: settings['healthCheckSecret'],
        instructions: 'Your Health Check endpoint is protected by this secret. You can find the secret on Oh Dear\'s {link} page. If you change it, make sure to change it in Oh Dear as well.'|t('ohdear', {link: '<a href="https://ohdear.app/sites/'~settings['selectedSiteId']~'/settings/application-health" rel="noopener" target="_blank">Application Health settings</a>'}),
        suggestEnvVars: true,
        errors: settings.getErrors('healthCheckSecret'),
    }) }}

{% else %}
    <p>{{ 'Please provide a valid API token and site ID.'|t('ohdear') }}</p>
{% endif %}
